<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Upsert Board</title>
		<style>
		table {
		  border-collapse: collapse;
		}
		.col_name {width:200px;}
		.col_data {width:400px;}
		form {display: inline;}
		</style>
	</head>
<body>
	<h1>掲示板登録</h1>
	<form method="post" action="/create" th:object="${formModel}">
		<input type="hidden" name="id" th:value="*{id}">
		<table border="1">
		  <tr>
		      <th class="col_name">タイトル</th>
		      <td class="col_data">
		        <input type="text" name="title" th:value="*{title}" size="50"
		          maxlength= "20" />
		      </td>
		  </tr>
		  <tr>
		      <th>内容</th>
		      <td>
		        <textarea name="content" th:value="*{content}" cols="100"
		          rows="10" /></textarea>
		      </td>
		  </tr>
		  <tr>
		      <th>投稿者</th>
		      <td>
		        <input type="text" name="writer" th:value="*{writer}" size="50"
		           maxlength= "15" />
		      </td>
		  </tr>
		</table>
		<hr>
		<input type="submit" value="登　録" />
	</form>
	<form action="/">
	    <input type="submit" value="戻　る" />
	</form>
</body>
</html>